.cardsWrap {
  padding: 1.1rem;
  display: flex;
  flex-wrap: wrap;
  position: relative;
}
.card {
  position: relative;
  background-color: var(--color-lightergray);
  border-radius: 10px;
  width: 155px;
  overflow: hidden;
  padding: 0.8rem 0.8rem 0.1rem;
  margin-right: 1rem;
}

.playbtnfixed {
  color: var(--color-greenMain);
  position: absolute;
  top: 100px;
  right: 0;
  left: 135px;
  opacity: 0;
}

.playbtnfixed:hover {
  opacity: 1;
}
