.main {
  width: 100%;
  overflow: scroll;
  /* position: relative; */
  padding-top: 3rem;
  /* position: relative; */
  /* display: flex; */
}

.upperNav__right {
  /* background-color: red; */
  display: flex;
  align-items: center;
  justify-content: flex-end;
  /* width: 90%; */
}

.mainContent h1 {
  font-size: 1.5rem;
}
