.main {
  width: 100%;
  overflow-y: scroll;
  /* position: relative; */
  padding-top: 3rem;
  /* position: relative; */
  /* display: flex; */
}

.upperNav {
  position: fixed;
  background-color: var(--color-navgray);
  width: 90%;
  height: 56px;
  overflow: hidden;

  color: white;
  padding: 0.5rem 2rem;
  top: 0;
}
.upperNav__right {
  /* background-color: red; */
  display: flex;
  align-items: center;
  justify-content: flex-end;
  /* width: 90%; */
}
.mainContent {
  color: white;
  padding: 0.5rem 2rem;
  /* display: flex; */
}
.mainContent h1 {
  font-size: 1.5rem;
}
