* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  border: 0;
  outline: 0;
  text-decoration: none;
  list-style: none;
  /* font-family: "Montserrat", sans-serif; */
}

:root {
  --color-darkGray: #040404;
  --color-lightgray: #131313;
  --color-lightergray: #282828;
  --color-navgray: #070707;
  --color-greenMain: #1db954;
  /* ////////////TEXT////////////// */
  --color-grayText: #b3b3b3;
}
img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}

/*////////////////////////////////////////////////////////////////////////////////////////////// */

.outerWrap {
  /* background-color: var(--color-darkGray); */
  background-color: gray;
  height: 100vh;
  min-height: 100%;
}
.app {
  height: calc(100vh - 90px);
  background-color: var(--color-lightgray);
  display: flex;
}

.musicControl {
  background-color: var(--color-lightergray);
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90px;
  color: white;
  z-index: 2;
  position: relative;
}
