* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  border: 0;
  outline: 0;
  text-decoration: none;
  list-style: none;
  font-family: "Montserrat", sans-serif;
}

:root {
  --color-primary: #6c63ff;
  --color-success: #00bf8e;
}
img {
  width: 100%;
  display: block;
  object-fit: cover;
}
